body{
    background-color: rgb(177, 0, 177);
    color: rgb(0, 0, 106);
    font-family: Arial;
    font-size: 60px;
}

div.text{
    font: size 48px;
    margin-top: 40px;
    margin-bottom: 40px;
}

div.text{
    font-family: times;
    font-size: 21px;
}